
// fonts variabels
$font1: 'Roboto', sans-serif;
$font2:'Poppins', sans-serif;
$font3:'Berkshire Swash', cursive;
// $font2:'Varela Round', sans-serif;

 
// section gapes
$sectiongap: 100px;
$sectionpadding: 50px;
$titlebottomgap: 30px;

// color varibales
$color0: #000000;
$color1: #FFFFFF;
$color2:#DD3F3F;
$color3:#FFD057; 
$color4:#332f2f; 
$color5:#C82222;
$color6:#FFACAC;
$color7:#DD3F3F;
$color8:#666666;

// liner gradient colors
$color10 :rgba(0, 0, 0, 0.25);
$color11:rgba(0, 0, 0, 0.164);

//drop shadows
$shadow1: 0px 14px 44px 0px #DD3F3F59;
$shadow2: 0px 17px 39px 0px #00000040;
$shadow3: 0px 17px 39px 0px #0000001a;
$shadow4:rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0) 0px 18px 36px -18px;
           



