// fonts variabels
$font1: 'Open Sans', sans-serif;
$lato:  'Lato', sans-serif;
$font3:  'Rum Raisin', sans-serif;

// section gapes
$sectiongap: 100px;
$sectionpadding: 50px;
$titlebottomgap: 30px;



// color varibales
$color0: #000000;
$color1: #FFFFFF;

$color2:#DD3F3F;
$color3:#FFD057; 
$color4:#242424; 




// liner gradient colors








