.about {
    width: 100%;
    height: 500px;
    padding: 100px 0px;
    margin: 50px 0;

    .text {
        padding-right: 20px;
        position: relative;

        h2 {
            @include fonts($font3, 38px, 34px, 600, $color2);
            margin-bottom: 30px;
            margin-top: 20px
        }

        p {
            @include fonts($font1, 16px, 24px, 400, $color8);
            text-align: justify;
            width: 400px;
        }

        .second_pragraph {
            margin-top: 10px;
        }

        i {
            font-size: 16px;
            margin-right: 15px;
            margin-top: 30px;
            width: 32px;
            height: 32px;
            padding: 8px;
            border-radius: 50%;
            background: $color2;
            color: $color1;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: 0.3s;

            &:hover {
                transform: scale(1.2);
            }
        }
    }

    .service-cards {
        width: 100%;
        display: flex;
        justify-content: flex-end;

        .posti {
            position: relative;
            width: 26%;
            margin: 0 30px;

            .service-card {
                width: 220px;
                margin: 0 auto;
                height: 320px;
                box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
                ;
                // position: absolute;
                // top: 0;
                // left: 0;
                border-radius: 25px;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                padding: 30px 20px 50px 20px;
                align-items: center;
                text-align: center;
                transition: 0.4s;
                cursor: pointer;

                .circle {
                    position: absolute;
                    top: 15%;
                    left: 50%;
                    height: 100px;
                    width: 100px;
                    border-radius: 50%;
                    background: rgb(255, 242, 242);
                    transform: translateX(-50%);
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        width: 70%;
                    }
                }

                h3 {

                    @include fonts($font2, 20px, 36px, 600, $color5);
                }

                p {
                    margin-top: 5px;
                    @include fonts($font1, 14px, 20px, 400, $color4);
                }

                &:hover {
                    transform: translateY(-15px);
                }
            }
        }

    }
}

// responsive start

// responsive start 
@media (min-width: 320px) and (max-width: 379.98px) {

    .about {
        padding: 0;
        width: 100%;
        height: 100%;
        margin: 40px 0;

        .text {
            text-align: center;
            padding: 0;
            padding: 0 15px;

            h2 {
                font-size: 32px;
                line-height: 36px;
                margin: 20px 0;
            }

            p {
                font-size: 14px;
                line-height: 24px;
                width: auto;
                text-align: center;

            }
        }

        .service-cards {
            flex-wrap: wrap;
            width: 100%;

            .posti {
                width: 100%;
                margin: 0 10px;

                .service-card {
                    width: 100%;
                    margin-top: 40px;
                    box-shadow: none;
                    border: 1px solid $color11;

                    .circle {
                        top: 17%;
                    }

                    h3 {
                        font-size: 22px;
                    }

                    p {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

@media (min-width: 380px) and (max-width: 475.98px) {
    .about {
        padding: 0;
        width: 100%;
        height: 100%;

        .text {
            text-align: center;
            padding: 0;
            padding: 0 15px;
            margin-bottom: 20px;

            i {
                font-size: 18px;
            }

            h2 {
                font-size: 32px;
                line-height: 36px;
            }

            p {
                font-size: 14px;
                line-height: 24px;
                width: auto;
                text-align: center;


            }
        }

        .service-cards {
            flex-wrap: wrap;
            width: 100%;

            .posti {
                width: 100%;
                margin: 0 10px;
                padding: 0 25px;

                .service-card {
                    width: 100%;
                    margin-top: 40px;
                    box-shadow: none;
                    border: 1px solid $color11;

                    .circle {
                        top: 17%;
                    }

                    h3 {
                        font-size: 22px;
                    }

                    p {
                        font-size: 14px;
                    }
                }
            }
        }
    }


}

@media (min-width: 476px) and (max-width: 575.98px) {


    .about {
        padding: 30px 0;
        width: 100%;
        height: 100%;

        .text {
            text-align: center;
            padding: 0;

            i {
                font-size: 18px;
            }

            h2 {
                font-size: 32px;
                line-height: 36px;
                margin-bottom: 20px;
            }

            p {
                font-size: 14px;
                line-height: 24px;
                width: auto;
                text-align: center;

            }
        }

        .service-cards {
            flex-wrap: wrap;
            padding: 0 55px;
            width: 100%;

            .posti {
                width: 100%;
                margin: 0 10px;

                .service-card {
                    width: 100%;
                    margin-top: 40px;
                    box-shadow: none;
                    border: 1px solid $color11;

                    .circle {
                        top: 17%;
                    }

                    h3 {
                        font-size: 22px;
                    }

                    p {
                        font-size: 14px;
                    }
                }
            }
        }
    }



}

// screem >=576
@media (min-width: 576px) and (max-width:767.98px) {
    .about {
        padding: 20px 0;
        width: 100%;
        height: 100%;

        .text {

            i {
                font-size: 18px;
                margin-left: 15px;
            }

            text-align: center;

            h2 {
                margin-bottom: 20px;
                font-size: 38px;
                line-height: 36px;
            }

            p {
                font-size: 14px;
                line-height: 24px;
                width: auto;
                text-align: center;
            }
        }

        .service-cards {
            margin-top: 50px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .posti {
                width: 50%;
                margin: 20px 0;

                .service-card {
                    box-shadow: $shadow4;
                }
            }
        }
    }
}

// screem >= 768
@media (min-width: 768px) and (max-width: 991.98px) {
    .about {
        padding: 50px 0px;
        width: 100%;
        height: 100%;

        .text {
            i {
                font-size: 18px;
                margin-left: 15px;
            }

            text-align: center;
            padding: 0;

            h2 {
                font-size: 38px;
                line-height: 36px;
                margin-bottom: 20px;
            }

            p {
                text-align: center;
                font-size: 18px;
                line-height: 26px;
                text-align: center;
                width: 500px;
                margin: auto;
            }
        }

        .service-cards {
            margin-top: 50px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .posti {
                width: 33%;
                margin: 0px 0;

                .service-card {
                    width: 200px;
                    box-shadow: $shadow4;
                }
            }
        }
    }
}

// screem >= 992
@media (min-width: 992px) and (max-width: 1199.98px) {
    .about {
        padding: 60px 0;
        width: 100%;
        height: 100%;

        .text {
            width: 100%;

            i {
                font-size: 18px;
                margin-left: 5px;
            }

            padding: 0;
            padding: 0 15px;

            h2 {
                font-size: 38px;
                line-height: 36px;
                text-align: left;
                margin-bottom: 20px;
            }

            p {
                text-align: justify;
                font-size: 14px;
                line-height: 24px;
                width: auto;
            }
        }

        .service-cards {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .posti {
                width: 33%;
                margin: 0px 0;

                .service-card {
                    width: 185px;
                    box-shadow: $shadow4;
                }
            }
        }
    }
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
    .about {
        width: 100%;
        height: 100%;
        .text {
            i {
                font-size: 18px;
                margin-right: 15px;
            }
            padding: 0;
            h2 {
                font-size: 38px;
                line-height: 36px;
                margin-bottom: 20px;
            }
            p {
                font-size: 14px;
                line-height: 24px;
                width: auto;
            }
        }
        .service-cards {
            margin-top: 0px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            .posti {
                width: 33%;
                margin: 0px 0;

                .service-card {
                    width: 200px;
                    box-shadow: $shadow4;
                }
            }
        }
    }
}