
:root {
  font-size: 16px;
  --card-img-height: 350px;
}

.blog{
margin-top: 70px;
.container{
  position: relative;

  .prevbtn {
    position: absolute;
    top: -106px;
    left: 28%;
    width: 54px;
    height: 46px;
    font-size: 24px;
    color: $color5;
    border: 1px solid $color5;
    border-radius: 5px;
    line-height: 14px;

}

.nextbtn {
    position: absolute;
    top: -106px;
    right: 28%;
    width: 54px;
    height: 46px;
    font-size: 24px;
    color: $color5;
    border: 1px solid $color5;
    border-radius: 5px;
    line-height: 14px;

}
  .card-container {
    margin-top: 60px;
    padding: 0!important;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    transition: all 200ms ease-in-out;
    justify-content: space-between;
    position: relative;

  }
  
  .card {
    align-self: flex-start;
    position: relative;
    min-width: 275px;
    background: white;
    transition: all 300ms ease-in-out;
    padding: 0!important;

  
    .card-img {
      visibility: hidden;
      width: 100%;
      height: var(--card-img-height);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
    }
  
    .card-img-hovered {
      --card-img-hovered-overlay: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0)
      );
      transition: all 350ms ease-in-out;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      width: 100%;
      position: absolute;
      height: var(--card-img-height);
      top: 0;
    }
  
    .card-info {
      position: relative;
      padding: 0.75rem 1.25rem;
      transition: all 200ms ease-in-out;
  
      .card-about {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.75rem 0;
        transition: all 200ms ease-in-out;
  
        .card-tag {
          width: 60px;
          max-width: 110px;
          padding: 0.2rem 0.5rem;
          font-size: 12px;
          text-align: center;
          text-transform: uppercase;
          letter-spacing: 1px;
          background: $color5;
          color: #fff;
          font-family: $font2!important;
  
          &.tag-news {
            background: $color5;
            font-family: $font2!important;
          }
  
          &.tag-deals {
            background: $color5;
            font-family: $font2!important;
          }
  
          &.tag-politics {
            width: 71px;
            background: $color5;
            font-family: $font2!important;
          }
        }
      }
  
      .card-title {
        z-index: 10;
        font-size: 1.5rem;
        padding-bottom: 0.75rem;
        transition: all 350ms ease-in-out;
        @include fonts($font2, 18px, 25px, 500, $color4);
      }
  
      .card-creator {
        padding-bottom: 0.75rem;
        transition: all 250ms ease-in-out;
        a{
          @include fonts($font1, 14px, 14px, 400, $color5);
        }
      }
      .card-time{
        @include fonts($font1, 14px, 14px, 400, $color4);
      }
    }
  
    &:hover {
      cursor: pointer;
      box-shadow: 0px 15px 35px rgba(227, 252, 239, 0.1),
        0px 5px 15px rgba(0, 0, 0, 0.07);
      transform: scale(1.025);
  
      .card-img-hovered {
        --card-img-hovered-overlay: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0),
          rgba(0, 0, 0, 0.65)
        );
        height: 100%;
      }
  
      .card-about,
      .card-creator {
        opacity: 0;
       
      }
  
      .card-info {
        background-color: transparent;
      }
  
      .card-title {
        color: #ebecf0;
        // margin-bottom: -40px;
        transform: translate(0,40px);
        @include fonts($font2, 18px, 25px, 500, $color1);
      }
    }
  }

  
  // CARD IMAGES
  .card-1 {
    .card-img,
    .card-img-hovered {
      background-image: var(--card-img-hovered-overlay),
        url(../images/blog/b01.jpg);
    }
  }
  
  .card-2 {
    .card-img,
    .card-img-hovered {
      background-image: var(--card-img-hovered-overlay),
        url(../images/blog/b02.jpg);
    }
  }
  
  .card-3 {
    .card-img,
    .card-img-hovered {
      background-image: var(--card-img-hovered-overlay),
        url(../images/blog/b03.jpg);
    }
  }
  
  .card-4 {
    .card-img,
    .card-img-hovered {
      background-image: var(--card-img-hovered-overlay),
        url(../images/blog/b04.jpg);
    }
  }

  .card-5 {
    .card-img,
    .card-img-hovered {
      background-image: var(--card-img-hovered-overlay),
        url(../images/blog/b05.jpg);
    }
  }

  .card-6 {
    .card-img,
    .card-img-hovered {
      background-image: var(--card-img-hovered-overlay),
        url(../images/blog/b02.jpg);
    }
  }
}



}

@media (min-width: 320px) and (max-width:444.98px) {
  :root {
    font-size: 16px;
    --card-img-height: 250px;
  }

  .blog{
    .container{
      .card-container{
        margin-top: 40px;
      }
      .prevbtn {
        position: absolute;
        top: -85px;
        left: 6%;
        width: 34px;
        padding: 0px;
        text-align: center;
        line-height: 43px;
    }

    .nextbtn {
        position: absolute;
        top: -85px;
        right:6%;
        width: 34px;
        padding: 0px;
        text-align: center;
        line-height: 43px;
    }
    }
              
  
      }
  }

@media (min-width: 440px) and (max-width:575.98px) {
  :root {
    font-size: 16px;
    --card-img-height: 250px;
  }
 .blog{
padding: 30px 0;
  .container{
    
   .card-container{
    margin: 40px 40px 0;
     }

    .prevbtn {
      position: absolute;
      top: -85px;
      left: 6%;
      width: 34px;
      padding: 0px;
      text-align: center;
      line-height: 43px;
  }

  .nextbtn {
      position: absolute;
      top: -85px;
      right:6%;
      width: 34px;
      padding: 0px;
      text-align: center;
      line-height: 43px;
  }
  }
     }
 
 }

 @media (min-width: 576px) and (max-width:767.98px) {
  :root {
    font-size: 16px;
    --card-img-height: 250px;
  }
  .blog{
 padding: 30px 0;
   .container{
     
    .card-container{
     margin: 40px 40px 0;
      }
 
     .prevbtn {
       position: absolute;
       top: -85px;
       left: 6%;
       width: 34px;
       padding: 0px;
       text-align: center;
       line-height: 43px;
   }
 
   .nextbtn {
       position: absolute;
       top: -85px;
       right:6%;
       width: 34px;
       padding: 0px;
       text-align: center;
       line-height: 43px;
   }
   }
      }
  
  }
  
 @media (min-width: 768px) and (max-width:991.98px) {
  :root {
    font-size: 16px;
    --card-img-height: 250px;
  }
  .blog{
     margin-top: 70px;
   .container{
     
    .card-container{
     margin: 40px 50px 0;
      }
 
     .prevbtn {
       position: absolute;
       top: -85px;
       left: 6%;
       width: 34px;
       padding: 0px;
       text-align: center;
       line-height: 43px;
   }
 
   .nextbtn {
       position: absolute;
       top: -85px;
       right:6%;
       width: 34px;
       padding: 0px;
       text-align: center;
       line-height: 43px;
   }
   }
      }
  
  }