.laptops {
    position: relative;
    margin-top: 80px;
    margin-bottom: 80px;
    .title {
        margin-bottom: 50px;

    }

    //   decoration icon css
    .decoration-tree-left {
        position: absolute;
        bottom: -110px;
        left: 40px;
        opacity: 0.06;
        z-index: -1;
        width: 90%;
        height: 1700px;
    }

    .decoration-icons-left-top {
        position: absolute;
        width: 80px;
        height: 80px;
        left: 150px;
        top: 100px;
    }

    .decoration-icons-right-top {
        position: absolute;
        width: 80px;
        height: 80px;
        right: 150px;
        top: -400px;
    }

    .decoration-icons-left-mid {
        position: absolute;
        width: 50px;
        height: 50px;
        left: 100px;
        top: 50%;

    }

    // decoration css end

    .laptop-slider {
        .all-items {
            .first-row {
                display: flex;
                justify-content: space-between;

                .laptop-card-width {
                    width: 100%;
                    position: relative;

                    .laptop-card {
                        width: 72%;
                        padding: 30px 40px;
                        background: $color5;
                        border-radius: 10px;
                        position: relative;
                        transition: 0.3s;

                        .decoration-icon {
                            position: absolute;
                            width: 100%;
                            height: 60%;
                            left: 0;
                            top: 0;
                            -webkit-transform: rotate(90deg);
                            transform: rotate(180deg);
                            opacity: 0.8;
                        }

                        .left {
                            z-index: 111;
                            overflow: hidden;

                            .top {
                                h3 {
                                    @include fonts($font1, 26px, 35px, 600, $color1);
                                    text-transform: capitalize;

                                }

                                p {
                                    @include fonts($font1, 14px, 19px, 400, $color1);
                                }

                                ul {
                                    margin-top: 15px;

                                    li {
                                        @include fonts($font1, 14px, 19px, 400, $color1);
                                        list-style: disc;
                                        margin-bottom: 5px;
                                    }
                                }

                            }

                            .bottom {
                                margin-top: 15px;
                                display: flex;
                                height: 60px;

                                .laptop-btn {
                                    margin-right: 30px;
                                    margin-top: 10px
                                }

                                .laptop-price {
                                    .discount-pp {
                                        @include fonts($font1, 14px, 19px, 600, $color6);
                                        display: block;
                                    }

                                    span {
                                        @include fonts($font1, 28px, 38px, 600, $color1);
                                        display: inline-block;
                                    }
                                }
                            }
                        }

                        .right {
                            width: 190px;
                            height: 180px;
                            border: 2px solid $color5;
                            border-radius: 10px;
                            background: $color1;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            position: absolute;
                            top: 50%;
                            right: 0;
                            transform: translate(50%, -50%);
                           transition: all .3s ease-in-out;
                           padding: 20px 15px;

                            .laptop-img {
                                width: 90%;
                                height: 90%;
                                position: relative;
                                text-align: center;
                                transition: transform 0.8s;
                                transform-style: preserve-3d;
                                .front{
                                    position: absolute;
                                    width: 100%;
                                    height: 100%;
                                    -webkit-backface-visibility: hidden;
                                    backface-visibility: hidden;
                                }
                                .back{
                                    position: absolute;
                                    width: 100%;
                                    height: 100%;
                                    -webkit-backface-visibility: hidden;
                                    backface-visibility: hidden;
                                    transform: rotateY(180deg)
                                }

                                img {
                                    width: 100%;
                                    height: 100%;
                                    transition: 0.3s;
                                }
                            }

                        }
                        &:hover .laptop-img {
                            transform: rotateY(180deg);
                          }
                    }
                }

            }
            .secound-row{
                margin-top: 40px;
            }
        }
    }

    .prevbtn {
        position: absolute;
        top: -100px;
        left: 35%;
        font-size: 24px;
        color: $color5;
        border: 1px solid $color5;
        border-radius: 5px;
    }

    .nextbtn {
        position: absolute;
        top: -100px;
        right: 35%;
        font-size: 24px;
        color: $color5;
        border: 1px solid $color5;
        border-radius: 5px;

    }

}

@media (min-width: 320px) and (max-width: 379.98px) {
    .laptops {
        margin-top: 60px;
        margin-bottom: 60px;
        .title{
            margin-bottom: 0;
        }

        //   decoration icon css
        .decoration-tree-left {
            display: none;
        }

        .decoration-icons-left-top {
            display: none;
        }

        .decoration-icons-right-top {
            display: none;
        }

        .decoration-icons-left-mid {
            display: none;
        }

        .decoration-tree-left {
            display: none;
        }

        .laptop-slider {
            .slick-slide {
                padding: 0;

                .all-items {
                    width: 100%;

                    .first-row {
                        flex-direction: column;
                        margin-top: 0;

                        .laptop-card-width {

                            .laptop-card {
                                width: 100%;
                                padding-top: 128px;
                                padding-left: 20px;
                                background: $color5;
                                border-radius: 20px;
                                position: relative;
                                box-shadow: none;
                                margin-top: 130px;
                                padding-left: 30px;
                                padding-right: 30px;
                                text-align: center;

                                .left {
                                    width: 100%;

                                    .top {
                                        h3 {
                                            @include fonts($font1, 24px, 21px, 600, $color1);
                                            text-transform: capitalize;
                                            margin-bottom: 10px
                                        }

                                        p {
                                            @include fonts($font1, 14px, 14px, 400, $color1);
                                        }

                                        ul {
                                            margin-top: 20px;

                                            li {
                                                @include fonts($font1, 14px, 19px, 400, $color1);
                                                list-style: disc;
                                            }
                                        }

                                    }

                                    .bottom {
                                        margin-top: 15px;
                                        display: flex;
                                        justify-content: center;

                                        .laptop-btn {
                                            margin-right: 15px!important;
                                            .buy-btn-3 {
                                                padding: 13px 16px;
                                                border-radius: 5px;
                                                font-size: 14px;
                                            }

                                            margin-right: 30px;
                                            margin-top: 10px
                                        }

                                        .laptop-price {


                                            .discount-pp {
                                                @include fonts($font1, 14px, 19px, 600, $color6);
                                                display: block;


                                            }

                                            span {
                                                @include fonts($font1, 26px, 32px, 600, $color1);
                                                display: inline-block;
                                            }
                                        }
                                    }
                                }

                                .right {

                                    width: 200px;
                                    height: 180px;
                                    border: 2px solid $color5;
                                    border-radius: 10px;
                                    background: $color1;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    position: absolute;
                                    top: 0;
                                    right: 50%;
                                    transform: translate(50%, -50%);
                                    

                                    .laptop-img {

                                        img {
                                            width: 100%;
                                            height: 100%;
                                        }
                                    }
                                }
                            }
                        }

                    }
                }
            }

        }

        .prevbtn {
            left: 3%;
            padding: 10px;
            top: -42px;
        }

        .nextbtn {
            right: 3%;
            padding: 10px;
            top: -42px;
        }

    }


}

@media (min-width: 380px) and (max-width: 475.98px) {
    .laptops {
        padding: 30px 0;
        .title{
            margin-bottom: 0;
        }

        //   decoration icon css
        .decoration-tree-left {
            display: none;
        }

        .decoration-icons-left-top {
            display: none;
        }

        .decoration-icons-right-top {
            display: none;
        }

        .decoration-icons-left-mid {
            display: none;
        }

        .decoration-tree-left {
            display: none;
        }

        .laptop-slider {
            .slick-slide {
                padding: 0;

                .all-items {
                    width: 100%;

                    .first-row {
                        flex-direction: column;
                        margin-top: 0;

                        .laptop-card-width {

                            .laptop-card {
                                width: 100%;
                                padding-top: 128px;
                                padding-left: 20px;
                                background: $color5;
                                border-radius: 20px;
                                position: relative;
                                box-shadow: none;
                                margin-top: 140px;
                                padding-left: 30px;
                                padding-right: 30px;
                                text-align: center;

                                .left {
                                    width: 100%;

                                    .top {
                                        h3 {
                                            @include fonts($font1, 24px, 21px, 600, $color1);
                                            text-transform: capitalize;
                                            margin-bottom: 10px
                                        }

                                        p {
                                            @include fonts($font1, 14px, 14px, 400, $color1);
                                        }

                                        ul {
                                            margin-top: 20px;

                                            li {
                                                @include fonts($font1, 14px, 19px, 400, $color1);
                                                list-style: disc;
                                            }
                                        }

                                    }

                                    .bottom {
                                        margin-top: 15px;
                                        display: flex;
                                        justify-content: center;

                                        .laptop-btn {
                                            margin-right: 15px!important;
                                            .buy-btn-3 {
                                                padding: 13px 16px;
                                                border-radius: 5px;
                                                font-size: 14px;
                                            }

                                            margin-right: 30px;
                                            margin-top: 10px
                                        }

                                        .laptop-price {


                                            .discount-pp {
                                                @include fonts($font1, 14px, 19px, 600, $color6);
                                                display: block;


                                            }

                                            span {
                                                @include fonts($font1, 26px, 32px, 600, $color1);
                                                display: inline-block;
                                            }
                                        }
                                    }
                                }

                                .right {

                                    width: 200px;
                                    height: 180px;
                                    border: 2px solid $color5;
                                    border-radius: 10px;
                                    background: $color1;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    position: absolute;
                                    top: 0;
                                    right: 50%;
                                    transform: translate(50%, -50%);
                                    

                                    .laptop-img {

                                        img {
                                            width: 100%;
                                            height: 100%;
                                        }
                                    }
                                }
                            }
                        }

                    }
                }
            }

        }

        .prevbtn {
            left: 6%;
            padding: 10px;
            top: -42px;
        }

        .nextbtn {
            right: 6%;
            padding: 10px;
            top: -42px;
        }

    }



}

@media (min-width: 476px) and (max-width: 575.98px) {
    .laptops {
        padding: 30px 0;
        .title{
            margin-bottom: 0;
        }

        //   decoration icon css
        .decoration-tree-left {
            display: none;
        }

        .decoration-icons-left-top {
            display: none;
        }

        .decoration-icons-right-top {
            display: none;
        }

        .decoration-icons-left-mid {
            display: none;
        }

        .decoration-tree-left {
            display: none;
        }

        .laptop-slider {
            .slick-slide {
                padding: 0;

                .all-items {
                    width: 100%;
                    padding: 0 50px;

                    .first-row {
                        flex-direction: column;
                        margin-top: 0;

                        .laptop-card-width {

                            .laptop-card {
                                width: 100%;
                                padding-top: 128px;
                                padding-left: 20px;
                                background: $color5;
                                border-radius: 20px;
                                position: relative;
                                box-shadow: none;
                                margin-top: 140px;
                                padding-left: 30px;
                                padding-right: 30px;
                                text-align: center;

                                .left {
                                    width: 100%;

                                    .top {
                                        h3 {
                                            @include fonts($font1, 24px, 21px, 600, $color1);
                                            text-transform: capitalize;
                                            margin-bottom: 10px
                                        }

                                        p {
                                            @include fonts($font1, 14px, 14px, 400, $color1);
                                        }

                                        ul {
                                            margin-top: 20px;

                                            li {
                                                @include fonts($font1, 14px, 19px, 400, $color1);
                                                list-style: disc;
                                            }
                                        }

                                    }

                                    .bottom {
                                        margin-top: 15px;
                                        display: flex;
                                        justify-content: center;

                                        .laptop-btn {
                                            margin-right: 15px!important;
                                            .buy-btn-3 {
                                                padding: 13px 16px;
                                                border-radius: 5px;
                                                font-size: 14px;
                                            }

                                            margin-right: 30px;
                                            margin-top: 10px
                                        }

                                        .laptop-price {


                                            .discount-pp {
                                                @include fonts($font1, 14px, 19px, 600, $color6);
                                                display: block;


                                            }

                                            span {
                                                @include fonts($font1, 26px, 32px, 600, $color1);
                                                display: inline-block;
                                            }
                                        }
                                    }
                                }

                                .right {

                                    width: 200px;
                                    height: 180px;
                                    border: 2px solid $color5;
                                    border-radius: 10px;
                                    background: $color1;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    position: absolute;
                                    top: 0;
                                    right: 50%;
                                    transform: translate(50%, -50%);
                                    

                                    .laptop-img {

                                        img {
                                            width: 100%;
                                            height: 100%;
                                        }
                                    }
                                }
                            }
                        }

                    }
                }
            }

        }

        .prevbtn {
            left: 10%;
            padding: 10px;
            top: -42px;
        }

        .nextbtn {
            right: 10%;
            padding: 10px;
            top: -42px;
        }

    }


}

@media (min-width: 576px) and (max-width: 768.98px) {
    .laptops {

        .title{
            margin-bottom:0 ;
        }
        //   decoration icon css
        .decoration-tree-left {
            display: none;
        }

        .decoration-icons-left-top {
            display: none;
        }

        .decoration-icons-right-top {
            display: none;
        }

        .decoration-icons-left-mid {
            display: none;
        }

        .decoration-tree-left {
            display: none;
        }

        .laptop-slider {
            .slick-slide {
                padding: 0;

                .all-items {
                    width: 100%;

                    .first-row {
                        flex-direction: column;
                        margin-top: 0;
                        padding: 0 60px;

                        .laptop-card-width {
                            .laptop-card {
                                width: 100%;
                                padding-top: 128px;
                                padding-left: 20px;
                                background: $color5;
                                border-radius: 20px;
                                position: relative;
                                box-shadow: none;
                                margin-top: 150px;
                                padding-left: 30px;
                                padding-right: 30px;
                                text-align: center;

                                .left {
                                    width: 100%;

                                    .top {
                                        h3 {
                                            @include fonts($font1, 28px, 21px, 600, $color1);
                                            text-transform: capitalize;
                                            margin-bottom: 10px
                                        }

                                        ul {
                                            margin-top: 20px;

                                            li {
                                                list-style: disc;
                                            }
                                        }
                                    }

                                    .bottom {
                                        justify-content: center;

                                        .laptop-btn {
                                            .buy-btn-3 {
                                                padding: 13px 16px;
                                                border-radius: 5px;
                                                font-size: 14px;
                                            }

                                            margin-right: 30px;
                                            margin-top: 10px
                                        }
                                    }
                                }

                                .right {
                                    top: 0;
                                    right: 50%;
                                }
                            }
                        }

                    }
                }
            }
        }

        .prevbtn {
            left: 12%;
            padding: 10px;
            top: -40px;
        }

        .nextbtn {
            right: 12%;
            padding: 10px;
            top: -40px;
        }
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .laptops {

        .title{
            margin-bottom:0 ;
        }
        //   decoration icon css
        .decoration-tree-left {
            display: none;
        }

        .decoration-icons-left-top {
            display: none;
        }

        .decoration-icons-right-top {
            display: none;
        }

        .decoration-icons-left-mid {
            display: none;
        }

        .decoration-tree-left {
            display: none;
        }

        .laptop-slider {
            .slick-slide {
                padding: 0;

                .all-items {
                    width: 100%;

                    .first-row {
                        flex-direction: column;
                        margin-top: 0;
                        padding: 0 120px;

                        .laptop-card-width {
                            .laptop-card {
                                width: 100%;
                                padding-top: 128px;
                                padding-left: 20px;
                                background: $color5;
                                border-radius: 20px;
                                position: relative;
                                box-shadow: none;
                                margin-top: 150px;
                                padding-left: 30px;
                                padding-right: 30px;
                                text-align: center;

                                .left {
                                    width: 100%;

                                    .top {
                                        h3 {
                                            @include fonts($font1, 28px, 21px, 600, $color1);
                                            text-transform: capitalize;
                                            margin-bottom: 10px
                                        }

                                        ul {
                                            margin-top: 20px;

                                            li {
                                                list-style: disc;
                                            }
                                        }
                                    }

                                    .bottom {
                                        justify-content: center;

                                        .laptop-btn {
                                            .buy-btn-3 {
                                                padding: 13px 16px;
                                                border-radius: 5px;
                                                font-size: 14px;
                                            }

                                            margin-right: 30px;
                                            margin-top: 10px
                                        }
                                    }
                                }

                                .right {
                                    top: 0;
                                    right: 50%;
                                }
                            }
                        }

                    }
                }
            }
        }

        .prevbtn {
            left: 15%;
            padding: 10px;
            top: -40px;
        }

        .nextbtn {
            right: 15%;
            padding: 10px;
            top: -40px;
        }
    }

}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .laptops {

        .title{
            margin-bottom: 0;
        }
        //   decoration icon css
        .decoration-tree-left {
            display: none;
        }

        .decoration-icons-left-top {
            display: none;
        }

        .decoration-icons-right-top {
            display: none;
        }

        .decoration-icons-left-mid {
            display: none;
        }

        // decoration css end
        .laptop-slider {
            .all-items {
                .first-row {
                    margin-top: 60px;
                    flex-direction: row;

                    .laptop-card-width {
                        width: 450px !important;

                        .laptop-card {
                            width: 350px;
                            padding: 25px;
                            margin-top: 0;

                            .left {
                                .top {
                                    h3 {
                                        @include fonts($font1, 26px, 35px, 600, $color1);
                                        text-transform: capitalize;
                                        margin-bottom: 10px
                                    }

                                    ul {
                                        margin-top: 30px;

                                        li {
                                            list-style: disc;
                                        }
                                    }
                                }

                                .bottom {
                                    margin-top: 20px;
                                    height: 60px;
                                    .laptop-price{
                                        margin-top: 10px;
                                    }
                                    .laptop-btn {
                                        margin-right: 30px;
                                        margin-top: 10px
                                    }
                                }
                            }

                            .right {
                                width: 170px;
                                height: 170px;
                                top: 50%;
                                right: 0;

                                .phone-img {
                                    width: 110px;
                                    height: 110px;
                                }
                            }
                        }
                    }

                }
            }
        }

        .prevbtn {
            left: 20% !important;
            padding: 10px 20px;
            top: -40px;
        }

        .nextbtn {

            right: 20% !important;
            padding: 10px 20px;
            top: -40px;
        }

    }


}

@media (min-width: 1200px) and (max-width: 1399.98px) {
    .laptops {

        //   decoration icon css
        .decoration-tree-left {
            display: none;
        }

        .decoration-icons-left-top {
            display: none;
        }

        .decoration-icons-right-top {
            display: none;
        }

        .decoration-icons-left-mid {
            display: none;
        }

        // decoration css end


        .title {
            margin-bottom: 50px;
        }

        .laptop-slider {
            .all-items {
                .first-row {
                    display: flex;
                    justify-content: space-between;
                    // margin-top: 20px;

                    .laptop-card-width {
                        width: 535px !important;

                        .laptop-card {
                            width: 440px;
                            padding: 45px;
                            background: $color5;
                            border-radius: 20px;
                            position: relative;

                            .left {
                                .top {
                                    h3 {
                                        margin-bottom: 10px
                                    }

                                    ul {
                                        margin-top: 30px;

                                        li {
                                            list-style: disc;
                                        }
                                    }
                                }

                                .bottom {
                                    margin-top: 20px;
                                    display: flex;
                                    height: 60px;

                                    .laptop-btn {
                                        margin-right: 35px;
                                        margin-top: 10px
                                    }

                                    .laptop-price {
                                        .discount-pp {
                                            @include fonts($font1, 14px, 19px, 600, $color6);
                                            display: block;
                                        }

                                        span {
                                            @include fonts($font1, 28px, 38px, 600, $color1);
                                            display: inline-block;
                                        }
                                    }
                                }
                            }

                            .right {
                                width: 190px;
                                height: 180px;
                                top: 50%;
                                right: 0;
                                .laptop-img {
                                    width: 90%;
                                    height: 90%;
                                }
                            }
                        }
                    }

                }
            }
        }

        .prevbtn {
            top: -95px;
            left: 30% !important;
        }

        .nextbtn {
            top: -95px;
            right: 30% !important;
        }
    }
}