

.mainBanner{
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 800px;
    background: url(../images/banner/banner.png) center no-repeat;
    background-size: cover;
            .decoration-image-bottom{
                position: absolute;
                bottom: -30px;
                left: 0;
            }

           .decoration-flak1{
            position: absolute;
            top: 40%;
            left: 20%;
           }

           .decoration-flak9{
            position: absolute;
            top: 20%;
            right: 17%;
           }

           .decoration-flak4{
            position: absolute;
            bottom :15%;
            right: 15%;
           }
           .decoration-flak3{
            position: absolute;
            top: 10%;
            left: 10%;
           }

           .decoration-flak2{
            position: absolute;
            bottom: 15%;
            right: 50%;
           }
        // decoration png end   
            
    .banner-text{
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        padding-top: 140px;
        margin: 0 auto;
        h5{
            position: relative;
            @include fonts($font1,20px,1,400, $color1);
            margin: 20px 0;
            text-align: center;
            width: 617px;
            &:after{
                content: "";
                position: absolute;
                top: 50%;
                left: 10px;
                background: $color1;
                width: 140px;
                height: 2px;
             }

             &:before{
                content: "";
                position: absolute;
                top: 50%;
                right: 10px;
                background: $color1;
                width: 140px;
                height: 2px;
             }
        }
        .text-box{
            background: url(../images/banner/textbox.png)center no-repeat;
            width: 617px;
            height: 137px;
            background-size: cover;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 1111;
            position: relative;
            h1{

                font-family: $font3;
                font-size: 80px;
                font-weight: 700;
                margin: 0;
                padding: 0;
                color: rgb(255, 255, 255);
                text-shadow:-4px 5px 6px rgba(0, 0, 0, 0.12);
                text-align: center;
                letter-spacing: 1.4px;
            }
            h4{
                position: absolute;
                bottom: -50px;
                @include fonts($font3,90px,1,300, $color3);
                letter-spacing: 1px;
                text-shadow:-4px 5px 6px rgba(0, 0, 0, 0.12);
            }

        }
        .banner-timer{
            margin-top: 80px;
            padding: 0 90px;
            display: flex;
            justify-content: space-between;
            width: 590px;
            .timer{
                width: 120px;
                text-align: center;
                h2{
                    @include fonts($font1,70px,82px,600, $color3);
                    text-shadow: -4px 5px 6px rgba(0, 0, 0, 0.13);
                }
                p{
                    @include fonts($font1,18px,28px,500, $color1);
                }
            }
            .dot{
                font-size: 50px;
                color: $color3;
                font-weight: 700;
                text-align: center;
            }
        }    
    }
}

// responsive start 
@media (min-width: 320px) and (max-width: 379.98px){
    .mainBanner{
        width: 100%;
        height: 670px;
    // decoration png start 
       .decoration-flak1{
        display: none;
       }
       .decoration-flak9{
        display: none;
       }

       .decoration-flak4{
        display: none;
       }
       .decoration-flak3{
        display: none;
       }
       .decoration-flak2{
        display: none;
       }
    // decoration png end   
        .banner-text{
           width: 100%;
           h5{
               width: 300px;
               font-size: 16px;
               margin: 10px 0;
               &::after{
                top: 50%;
                left: 10px;
                width: 36px;
                height: 1px;
               }
               &::before{
                top: 50%;
                right: 10px;
                width: 36px;
                height: 1px;
               }
           }
           .text-box {
            width: 300px;
            height: 67px;
            h1{
                font-size: 40px;
            }
            h4{
                bottom: -19px;
                font-size: 40px;
            }
           }
           .banner-timer{
               width: 450px;
               margin-top: 40px;
               .dot{
                   font-size: 25px;
               }
               .timer{
                h2{
                    font-size: 40px;
                    line-height: 40px;
                }
                p{
                    font-size: 12px;
                }

               }
           }
        }
    }

}
// screem >=380
@media (min-width: 380px) and (max-width: 475.98px){
    .mainBanner{
        width: 100%;
        height: 770px;
         // decoration png start 
       .decoration-flak1{
        display: none;
       }
       .decoration-flak9{
        display: none;
       }

       .decoration-flak4{
        display: none;
       }
       .decoration-flak3{
        display: none;
       }
       .decoration-flak2{
        display: none;
       }
    // decoration png end   
        .banner-text{
        width: 100%;
        padding-top: 180px;
        h5{
            font-size: 16px;
            width: 360px;
            margin: 12px 0;
            &::after{
                top: 50%;
                left: 10px;
                width: 60px;
                height: 1px;
            }
            &::before{
                top: 50%;
                right: 10px;
                width: 60px;
                height: 1px;
            }
        }
        .text-box {
            width: 360px;
            height: 80px;
            h1{
                font-size: 43px;
            }
            h4{
                bottom: -27px;
                font-size: 50px;
            }
        }
        .banner-timer{
            width: 510px;
            margin-top: 50px;
            .dot{
                font-size: 30px;
            }
            .timer{
                h2{
                    font-size: 45px;
                    line-height: 45px;
                }
                p{
                    font-size: 14px;
                }

            }
        }
        }
    }
}
@media (min-width: 476px) and (max-width: 575.98px){
    .mainBanner{
        width: 100%;
        height: 780px;
         // decoration png start 
       .decoration-flak1{
        display: none;
       }
       .decoration-flak9{
        display: none;
       }

       .decoration-flak4{
        display: none;
       }
       .decoration-flak3{
        display: none;
       }
       .decoration-flak2{
        display: none;
       }
    // decoration png end   
        .banner-text{
           width: 100%;
           padding-top: 140px;
           h5{
               font-size: 16px;
               width: 380px;
               margin: 12px 0;
               &::after{
                top: 50%;
                left: 10px;
                width: 60px;
                height: 1px;
               }
               &::before{
                top: 50%;
                right: 10px;
                width: 60px;
                height: 1px;
               }
           }
           .text-box {
            width: 380px;
            height: 85px;
            h1{
                font-size: 50px;
            }
            h4{
                bottom: -27px;
                font-size: 50px;
            }
           }
           .banner-timer{
               width: 490px;
               margin-top: 50px;
               .dot{
                   font-size: 31px;
               }
               .timer{
                h2{
                    font-size: 52px;
                    line-height: 50px;
                }
                p{
                    font-size: 12px;
                }
    
               }
           } 
        }
    }
}
// screem >=576
@media (min-width: 576px) and (max-width:767.98px){

    .mainBanner{
        width: 100%;
         // decoration png start 
       .decoration-flak1{
        display: none;
       }
       .decoration-flak9{
        display: none;
       }

       .decoration-flak4{
        display: none;
       }
       .decoration-flak3{
        display: none;
       }
       .decoration-flak2{
        display: none;
       }
    // decoration png end   
        background-size:cover;
        .banner-text{
           width: 100%;
           padding-top: 150px;
           h5{
               font-size: 18px;
               width: 450px;
               margin: 14px 0;
               &::after{
                top: 50%;
                left: 10px;
                width: 90px;
                height: 1px;
               }
               &::before{
                top: 50%;
                right: 10px;
                width: 90px;
                height: 1px;
               }
           }
           .text-box {
            width: 450px;
            height: 100px;
            h1{
                font-size: 56px;
            }
            h4{
                bottom: -36px;
                font-size: 66px;
            }
           }
           .banner-timer{
               width: 572px;
               margin-top: 60px;
               .dot{
                   font-size: 36px;
               }
               .timer{
                h2{
                    font-size: 56px;
                    line-height: 56px;
                }
                p{
                    font-size: 14px;
                }

               }
           }
        }
    }

}
// screem >= 768
@media (min-width: 768px) and (max-width: 991.98px){
    .mainBanner{
        width: 100%;
         // decoration png start 
       .decoration-flak1{
        display: none;
       }
       .decoration-flak9{
        display: none;
       }

       .decoration-flak4{
        display: none;
       }
       .decoration-flak3{
        display: none;
       }
       .decoration-flak2{
        display: none;
       }
    // decoration png end   
        background-size:cover;
        .banner-text{
           width: 100%;
           h5{
               font-size: 18px;
               width: 570px;
               margin: 15px 0;
               &::after{
                top: 50%;
                left: 10px;
                width: 130px;
                height: 1px;
               }
               &::before{
                top: 50%;
                right: 10px;
                width: 130px;
                height: 1px;
               }
           }
           .text-box {
            width: 570px;
            height: 127px;
            h1{
                font-size: 70px;
            }
            h4{
                bottom: -44px;
                font-size: 78px;
            }
           }
           .banner-timer{
               width: 650px;
               margin-top: 60px;
               .dot{
                   font-size: 45px;
               }
               .timer{
                h2{
                    font-size: 72px;
                }
                p{
                    font-size: 14px;
                }

               }
           }
        }
    }
}
// screem >= 992
@media (min-width: 992px) and (max-width: 1199.98px){
     .mainBanner{
        width: 100%;
        background-size:cover;
         // decoration png start 
       .decoration-flak1{
        display: none;
       }
       .decoration-flak9{
        display: none;
       }

       .decoration-flak4{
        display: none;
       }
       .decoration-flak3{
        display: none;
       }
       .decoration-flak2{
        display: none;
       }
    // decoration png end   
        .banner-text{
           width: 100%;
           h5{
               font-size: 18px;
               width: 570px;
               margin: 18px 0;
               &::after{
                top: 50%;
                left: 10px;
                width: 122px;
                height: 1px;
               }
               &::before{
                top: 50%;
                right: 10px;
                width: 122px;
                height: 1px;
               }
           }
           .text-box {
            width: 570px;
            height: 127px;
            h1{
                font-size: 70px;
            }
            h4{
                bottom: -38px;
                font-size: 75px;
            }
           }
           .banner-timer{
            width: 650px;
            margin-top: 60px;
            .dot{
                font-size: 45px;
            }
            .timer{
             h2{
                 font-size: 72px;
             }
             p{
                 font-size: 14px;
             }

            }
        }
        }
    }

}
// screem >= 1200 
@media (min-width: 1200px) and (max-width: 1399.98px){
    .mainBanner{
        width: 100%;
        background-size:cover;
        .banner-text{
           width: 100vh;
           h5{
               font-size: 18px;
               width: 570px;
               margin: 18px 0;
               &::after{
                top: 50%;
                left: 10px;
                width: 130px;
                height: 2px;
               }
               &::before{
                top: 50%;
                right: 10px;
                width: 130px;
                height: 2px;
               }
           }
           .text-box {
            width: 570px;
            height: 127px;
            h1{
                font-size: 70px;
            }
            h4{
                bottom: -46px;
                font-size: 84px;
            }
           }
           .banner-timer{
               width: 610px;
               margin-top: 70px;
               .dot{
                   font-size: 48px;
               }
               .timer{
                h2{
                    font-size: 78px;
                }
                p{
                    font-size: 14px;
                }

               }
           }
           
        }
    } 
  } 


          
