
.mobiles {
    position: relative;
    margin-top: 20px;

    .all-card {
        display: flex;
        justify-content: space-between;
        display: flex;
        justify-content: center;
        margin-top: 30px;
        .slick-slide{
       
        .card-item {
            border: 1px solid $color10;
            border-radius: 10px;
            background: $color1;
            padding:20px;
            text-align: center;
            margin-top: 140px;
            width: 100%;
            
            .top {
                margin: auto;
                border: 1px solid $color10;
                display: flex;
                justify-content: center;
                border-radius: 10px;
                padding: 30px 20px;
                background: $color1;
                margin-top: -120px;
                width: 210px;

                .product-image {
                    width: 160px;
                    height: 200px;
                    position: relative;
                    text-align: center;
                    transition: transform 0.8s;
                    transform-style: preserve-3d;

                    .front{
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        -webkit-backface-visibility: hidden;
                        backface-visibility: hidden;
                    }
                    .back{
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        -webkit-backface-visibility: hidden;
                        backface-visibility: hidden;
                        transform: rotateY(180deg)
                    }

                   
                    img {
                        width: 100%;
                        height: 100%;
                    }

                }
            }

            h4 {
                @include fonts($font2, 24px, 35px, 600, $color5);
                margin-top: 30px;
                margin-bottom: 5px
            }

            .details {
                @include fonts($font1, 14px, 19px, 400, $color0);
            }

            .bottom {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 30px;

                .price {
                    width: 50%;
                    p {
                        @include fonts($font1, 26px, 30px, 600, $color5);

                        span {
                            @include fonts($font1, 16px, 24px, 400, $color5);
                        }
                    }
                }
            }
            &:hover .product-image {
                transform: rotateY(180deg);
              }
        }

        

        }
        
    }

    .prevbtn {
        position: absolute;
        top: -80px;
        left: 35%;
        font-size: 24px;
        color: $color5;
        border: 1px solid $color5;
        border-radius: 5px;
    }

    .nextbtn {
        position: absolute;
        top: -80px;
        right: 35%;
        font-size: 24px;
        color: $color5;
        border: 1px solid $color5;
        border-radius: 5px;
    }
}

@media (min-width: 320px) and (max-width: 379.98px){
    .mobiles {
        position: relative;
        margin-top: 40px;
        .all-card {
            display: flex;
            justify-content: center !important;
            margin-top: 40px;
            padding: 0 10px;
            .slick-slide {
                padding: 0;
            .card-item {
                padding: 20px;
                margin-top: 100px;
                .top {
                    width: auto;
                    display: flex;
                    justify-content: center;
                    padding-top: 35px;
                    padding-bottom: 35px;
                    width: 215px;
                    .product-image {
                        width: 130px;
                        height: 140px;
                    }
                } 
                .bottom {
                    .price {
                        p {
                            @include fonts($font1, 24px, 22px, 600, $color5);
    
                            span {
                                @include fonts($font1, 14px, 24px, 400, $color5);
                            }
                        }
                    }
                }
            }
        }
    }
    
        .prevbtn {
            position: absolute;
            top: -80px;
            left: 4%;
            padding: 10px;
        }
    
        .nextbtn {
            position: absolute;
            top: -80px;
            right: 4%;
            padding: 10px;
        }
    }
    
}
@media (min-width: 380px) and (max-width: 475.98px){
    .mobiles {
        margin-top: 50px;
        position: relative;
        .all-card {
            display: flex;
            justify-content: center !important;
            margin-top: 40px;
            padding: 0 30px;
            .slick-slide {
                padding: 0;
            .card-item {
                padding: 20px;
                margin-top: 100px;
                .top {
                    width: auto;
                    display: flex;
                    justify-content: center;
                    padding-top: 35px;
                    padding-bottom: 35px;
                    width: 215px;
                    .product-image {
                        width: 130px;
                        height: 140px;
                    }
                } 
                .bottom {
                    .price {
                        p {
                            @include fonts($font1, 24px, 22px, 600, $color5);
    
                            span {
                                @include fonts($font1, 14px, 24px, 400, $color5);
                            }
                        }
                    }
                }
            }
        }
    }
    
        .prevbtn {
            position: absolute;
            top: -80px;
            left: 6%;
            padding: 10px;
        }
    
        .nextbtn {
            position: absolute;
            top: -80px;
            right: 6%;
            padding: 10px;
        }
    }
}
@media (min-width: 476px) and (max-width: 575.98px){
    .mobiles {
       margin-top: 50px;
        position: relative;
        .all-card {
            display: flex;
            justify-content: center !important;
            margin-top: 40px;
            padding: 0 45px;
            .slick-slide {
                padding: 0;
            .card-item {
                padding: 20px;
                margin-top: 100px;
                .top {
                    width: auto;
                    display: flex;
                    justify-content: center;
                    padding-top: 35px;
                    padding-bottom: 35px;
                    width: 215px;
                    .product-image {
                        width: 130px;
                        height: 140px;
                    }
                } 
                .bottom {
                    .price {
                        p {
                            @include fonts($font1, 24px, 22px, 600, $color5);
    
                            span {
                                @include fonts($font1, 14px, 24px, 400, $color5);
                            }
                        }
                    }
                }
            }
        }
    }
    
        .prevbtn {
            position: absolute;
            top: -80px;
            left: 10%;
            padding: 10px;
        }
    
        .nextbtn {
            position: absolute;
            top: -80px;
            right: 10%;
            padding: 10px;
        }
    }
}
@media (min-width: 576px) and (max-width:767.98px){

    .mobiles {
        padding-top: 60px;
        position: relative;
   
        .all-card {
            margin-top: 60px;
            display: flex;
            justify-content: center !important;
            .slick-slide{

            padding: 7px;
            .card-item {
                width: 100%;
                background: $color1;
                padding: 12px!important;
                margin-top: 100px;

                .top {
                    margin: auto;
                    width: auto;
                    padding-top: 25px;
                    padding-bottom: 25px;
                    margin-top: -120px;
                    width: 170px;
    
                    .product-image {
                        width: 140px;
                        height: 170px;
                    }
                }
    
                h4 {
                    @include fonts($font2, 24px, 32px, 600, $color5);
                    margin-top: 30px;
                    margin-bottom: 5px
                }
    
                .bottom {
                    margin-top: 20px;
                    .buy-btn-2{
                        padding: 10px 16px;
                        font-size: 14px;
                    }
                    .price {
                        p {
                            @include fonts($font1, 22px, 24px, 600, $color5);
    
                            span {
                                @include fonts($font1, 14px, 24px, 400, $color5);
                            }
                        }
                    }
                }
            }
        }
        }
    
        
        .prevbtn {
            position: absolute;
            top: -100px;
            left: 12%;
            padding: 10px;
        }

    
        .nextbtn {
            position: absolute;
            top: -100px;
            right: 12%;      
            padding: 10px;
        }
    }
    
}
@media (min-width: 768px) and (max-width: 991.98px){

    .mobiles {
        position: relative;
        margin-top: 60px;
        .all-card {
            display: flex;
            justify-content: center !important;
            margin-top: 60px;
            padding: 0 45px;
            .slick-slide {
                padding: 0 10px;
            .card-item {
                padding: 20px;
                margin-top: 100px;
                .top {
                    width: auto;
                    display: flex;
                    justify-content: center;
                    padding-top: 35px;
                    padding-bottom: 35px;
                    width: 215px;
                    .product-image {
                        width: 130px;
                        height: 140px;
                    }
                } 
                .bottom {
                    .price {
                        p {
                            @include fonts($font1, 24px, 22px, 600, $color5);
    
                            span {
                                @include fonts($font1, 14px, 24px, 400, $color5);
                            }
                        }
                    }
                }
            }
        }
    }
    
        .prevbtn {
            position: absolute;
            top: -100px;
            left: 15%;
            padding: 10px;
        }
    
        .nextbtn {
            position: absolute;
            top: -100px;
            right: 15%;
            padding: 10px;
        }
    }
    
}
@media (min-width: 992px) and (max-width: 1199.98px){

    .mobiles {
        position: relative;
        .all-card {
            margin-top: 60px;
            .slick-slide{

            .card-item {
                padding: 20px;
                margin-top: 100px;
                h4{
                    font-size: 24px;
                }
                .top {
                    
                    .product-image {
                        width: 160px;
                        height: 200px;
                    }
                }
    
                h4 {
                    @include fonts($font2, 22px, 32px, 600, $color5);
                }
    
                .details {
                    @include fonts($font1, 14px, 18px, 400, $color0);
                }
    
                .bottom {
                    margin-top: 20px;
    
                    .price {
                        margin-right: 20px;
                        p {
                            @include fonts($font1, 24px, 24px, 600, $color5);
    
                            span {
                                @include fonts($font1, 14px, 24px, 400, $color5);
                            }
                        }
                    }
                }
            }
        }
        }
    
        .prevbtn {
            position: absolute;
            top: -106px;
            left: 20%;
            padding: 10px 20px;
          }
        
    
        .nextbtn {
            position: absolute;
            top: -106px;
            right: 20%;   
            padding: 10px 20px;   
        }
    
}
}
@media (min-width: 1200px) and (max-width: 1399.98px){
   
    .mobiles {
        position: relative;
        .all-card {
            margin-top: 60px;
            .slick-slide{

            .card-item {
                padding: 20px;
                margin-top: 100px;
                h4{
                    font-size: 24px;
                }
                .top {
                    
                    .product-image {
                        width: 160px;
                        height: 200px;
                    }
                }
    
                h4 {
                    @include fonts($font2, 22px, 32px, 600, $color5);
                }
    
                .details {
                    @include fonts($font1, 14px, 18px, 400, $color0);
                }
    
                .bottom {
                    margin-top: 20px;
    
                    .price {
                        margin-right: 20px;
                        p {
                            @include fonts($font1, 24px, 24px, 600, $color5);
    
                            span {
                                @include fonts($font1, 14px, 24px, 400, $color5);
                            }
                        }
                    }
                }
            }
        }
        }
    
        .prevbtn {
            position: absolute;
            top: -106px;
            left: 30%;
            padding: 10px 20px;
          }
        
    
        .nextbtn {
            position: absolute;
            top: -106px;
            right: 30%;   
            padding: 10px 20px;   
        }
    
}
}

