@import "../abstracts/mixin";
@import "../abstracts/variables";



.main-banner{
    overflow: hidden;
    position: relative;
        .tree{
            position: absolute;
            right: 15%;
            bottom: 0;
        }
    width: 100%;
    height: 100vh;
    background: url(../images/banner/banner.png) center no-repeat;
    background-size: cover;
    .banner-text{
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        padding-top: 170px;
        margin: 0 auto;
        h5{
            position: relative;
            @include fonts($font1,24px,1,400, $color1);
            margin: 10px 0;
            text-align: center;
            width: 100%;
            &:after{
                content: "";
                position: absolute;
                top: 50%;
                left: 14%;
                background: $color1;
                width: 180px;
                height: 4px;
             }

             &:before{
                content: "";
                position: absolute;
                top: 50%;
                right: 14%;
                background: $color1;
                width: 180px;
                height: 4px;
             }
        }
        .text-box{
            background: url(../images/banner/textbox.png)center no-repeat;
            width: 720px;
            height: 159px;
            background-size: cover;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 1111;
            position: relative;
            h1{

                font-family: $font3;
                font-size: 90px;
                font-weight: 700;
                margin: 0;
                padding: 0;
                color: rgb(255, 255, 255);
                text-shadow: -4px 5px 6px rgba(128, 128, 128, 0.294);
                text-align: center
            }
            h4{
                position: absolute;
                bottom: -36px;
                @include fonts($font3,90px,1,300, $color3);
            }

        }
        .banner-timer{
            margin-top: 50px;
            padding: 0 90px;
            display: flex;
            justify-content: space-between;
            width: 720px;
            height: 140px;
            .timer{
                width: 120px;
                height: 100%;
                text-align: center;
                h2{
                    @include fonts($font3,90px,1,600, $color3);
                    text-shadow: -4px 5px 6px rgba(80, 80, 80, 0.466);
                }
                p{
                    @include fonts($font1,18px,1,500, $color1);
                }
            }
            .dot{
                font-size: 58px;
                color: $color3;
                font-weight: 600;
                text-align: center;
            }
        }
        .banner-button{
            z-index: 111;
            width: 100%;
            margin-top: 50px;
            display: flex;
            justify-content: center;
            
            a{
                margin: 0 10px;
            }

        }
        
    }
}