.service{
    margin-top: 50px;
    .all{
        overflow: hidden;
        padding-top: 60px;
    }
    .service-card{
        width: 90%;
        height: 155px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: column;
        border-radius: 10px;
        position: relative;
        padding-bottom: 10px;
        box-sizing: border-box;
        border: 1px solid $color2;
        transition: 0.3s;
        cursor: pointer;
        &:hover{
            transform: translateY(-10px)
        }
        h2{
            @include fonts($font1, 28px, 31px, 600, $color2);
        }
        p{
            @include fonts($font1, 16px, 1.7, 400, $color2);
        }
        .overlay{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 15px;

        }
        // .santa{
        //     position: absolute;
        //     width: 100px;
        // }
        .circle{
            width: 120px;
            height: 120px;
            background: $color1;
            border-radius: 50%;
            position: absolute;
            top: -50px;
            overflow: hidden;
            left: 50%;
            transform: translateX(-50%);
            //  border: 6px solid $color1; 
           img{
               width: 121px;
           }
        }

    }
}