.addbanner-short{
    margin-top: 50px;
    .title .off-badge {
        display: none;
      }
    .all-banner{
        margin-top: 50px;
        .long-banner{
            width: 100%;
            height: 625px;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .short-banner{
            width: 100%;
            height: 300px;
            img{
                width: 100%;
                height: 100%;
                image-orientation: flip;
            }
        }
        .short-banner-log-width{
            margin-top: 25px;
            width: 100%;
            height: 300px;
            img{
                width: 100%;
                height: 100%;
                image-orientation: flip;
            }
        }

    }

}

@media (min-width: 320px) and (max-width: 474.98px){

    .addbanner-short {
      margin-top: 0;
       .all-banner{
         padding: 0 10px;
        .long-banner {
          height: 550px;
         }
       .short-banner {
         height: 230px;
         margin-top: 15px;
       }
       .short-banner-log-width {
         margin-top: 15px;
         height: 160px;
       }
       }
      }
}

@media (min-width: 475px) and (max-width: 575.98px){

    .addbanner-short .all-banner {
        padding: 0px 50px;
        margin-top: 30px;
           .long-banner {
             height: 550px;
            }
          .short-banner {
            height: 230px;
            margin-top: 15px;
          }
          .short-banner-log-width {
            margin-top: 15px;
            height: 170px;
          }
      }
}


@media (min-width: 576px) and (max-width: 767.98px){

    .addbanner-short .all-banner {
        padding: 0px 70px;
        margin-top: 30px;
           .long-banner {
             height: 550px;
            }
          .short-banner {
            height: 230px;
            margin-top: 15px;
          }
          .short-banner-log-width {
            margin-top: 15px;
            height: 180px;
          }
      }
}

@media (min-width: 768px) and (max-width: 991.98px){

    .addbanner-short .all-banner {
        padding: 0px 80px;
        margin-top: 30px;
           .long-banner {
             height: 650px;
            }
          .short-banner {
            height: 230px;
            margin-top: 20px;
          }
          .short-banner-log-width {
            margin-top: 20px;
            height: 230px;
          }
      }
}

@media (min-width: 992px) and (max-width: 1199.98px){

    .addbanner-short .all-banner {
        padding: 0 20px;
        margin-top: 40px;
           .long-banner {
             height: 455px;
            }
          .short-banner {
            height: 200px;
          }
          .short-banner-log-width {
            height: 230px;
          }
      }
}

// @media (min-width: 1200px) and (max-width: 1399.98px){

    

// }