
.addbanner-short{
    padding: 80px 0px;
    .banner-box-side{
        height: 470px!important;
         position: relative;
         .banner-box-side-img{
            transform: scale(1.0);
            transition: 0.5s!important;
           }
         .mainbanner-wh-btn {
          justify-content: center;
          align-items: center;
          height: 100%;
          margin-top: -70px;
         }
        .santa{
            width: 0px;
            height: 0%;
            transition: 0.5s!important;
        } 
        &:hover .text-box{ 
            width: 80%;
            height: 80%;
            background: rgba(0, 0, 0, 0.609);
            opacity: 1;
            border: 2px solid $color1;
            }
        &:hover .banner-box-side-img{ 
        transform: scale(1.1);
        opacity: 1;
        filter: blur(3px);
        -webkit-filter: blur(3px);
        }   
        &:hover .santa{ 
            margin-top: 30px;
            width: 150px;
            height: 200px;
            }   
    }
    .banners-box-inside{
       display: flex!important;
       flex-direction: column;
       justify-content: space-between;
       height: 470px!important;
    }
    .banner-box{
        width: 100%;
        height: 230px;
        position: relative;
       background-size: cover;
        overflow: hidden;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        transition: 0.5s;
        &:hover .text-box{ 
            width: 90%;
            height: 80%;
            background: rgba(0, 0, 0, 0.609);
            opacity: 1;
            border: 2px solid $color1;
            }
        &:hover .banner-bg{ 
        transform: scale(1.1);
        opacity: 1;
        filter: blur(3px);
        -webkit-filter: blur(3px);
        } 
      
        .banner-bg{
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            z-index: -1;
            transition: 0.5s;
            display: flex;
            justify-content: center;
        }
       
        .text-box{ 
             opacity: 0;
             display: flex;
             justify-content: center;
             align-items: center;
             flex-direction: column;
             width: 100%;
             height: 100%;
             transition: 0.5s;
             .mainbanner-wh-btn {
                justify-content: center;
                align-items: center;
                height: 100%;
                margin-top: 0px;
               }
            }

    }
}
// responsive start 
@media (min-width: 320px) and (max-width: 575.98px){
   
    .addbanner-short{
        padding: 40px 0px;
        .mainbanner-wh-btn .button a {
            padding: 4px 12px;
          }
        .banner-box-side{
            height: 300px!important;
           
            &:hover .santa {
                width: 100px;
              }
        }

        .banners-box-inside{
            height: 290px!important;
        }


        .row{
            .col-lg-6,
            .col-sm-12,
            .col-md-12{
             padding: 10px;
            }

            .banner-box{
                height: 125px;
            }
        }
       
    }
}
// screem >=576
@media (min-width: 576px) and (max-width:767.98px){

  
    .addbanner-short{
        padding: 40px 0px;
        .mainbanner-wh-btn .button a {
            padding: 4px 12px;
          }
        .banner-box-side{
            height: 300px!important;
           
            &:hover .santa {
                width: 100px;
              }
        }

        .banners-box-inside{
            height: 290px!important;
        }


        .row{
            .col-lg-6,
            .col-sm-12,
            .col-md-12{
             padding: 10px;
            }

            .banner-box{
                
            }
        }
       
    }
}
// screem >= 768
@media (min-width: 768px) and (max-width: 991.98px){
    .addbanner-short{
        .row{
            .col-lg-4,
            .col-sm-12,
            .col-md-12{
             padding: 15px;
            }
            .banner-box{
                height: 160px;
            }
        }
       
    }

}
// screem >= 992
@media (min-width: 992px) and (max-width: 1199.98px){
  
    .addbanner-short{
            .banner-box{
                height: 140px;
            }
        }

}
// screem >= 1201
@media (min-width: 1200px) and (max-width: 1399.98px){
    .addbanner-short{
        .banner-box{
            height: 160px;
        }
    }
}