.addbanner-short{
    .all-banner{
        margin-top: 50px;
        .long-banner{
            width: 100%;
            height: 625px;
            background: red;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .short-banner{
            width: 100%;
            height: 300px;
            background: black;
            img{
                width: 100%;
                height: 100%;
                image-orientation: flip;
            }
        }
        .short-banner-log-width{
            margin-top: 25px;
            width: 100%;
            height: 300px;
            background: rgb(98, 17, 17);
            img{
                width: 100%;
                height: 100%;
                image-orientation: flip;
            }
        }

    }

}